@import "tailwindcss";

@theme inline {
	--font-primary: var(--font-bebas-neue);
	--font-secondary: var(--font-poppins);
}

@theme {
	--grey: #929292;

  --secondary-color: #121212;

	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;
}
