@import "tailwindcss";

@theme inline {
	--font-primary: var(--font-bebas-neue);
	--font-secondary: var(--font-poppins);
}

@theme {
	--grey: #929292;

  --secondary-color: #121212;

	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

li:hover {
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #fff;
	transition: 0.5s ease-in-out;
}