@import "tailwindcss";

@theme inline {
	--font-primary: var(--font-bebas-neue);
	--font-secondary: var(--font-poppins);
}

@theme {
	--grey: #929292;

  --secondary-color: #121212;

	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;
	
	--text-tiny: 0.625rem; 
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

::-webkit-scrollbar {
	width: 0;
}

li:hover {
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #fff;
	transition: 0.5s ease-in-out;
}

html, body {
cursor:none;
}

.custom-cursor {
	height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; 
}

.loader-text span {
	display: inline-block;
	position: relative;
	line-height: 1;
	transform: translateY(120px);
	--clipPath: inset(100% 0 0 0);
	overflow: hidden;  
}

.loader-text span::before {
	content: attr(data-text);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(45deg, #fff, #929292);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	clip-path: var(--clipPath);
	-webkit-clip-path: var(--clipPath);
	transition: clip-path 0s;
}